.userSelect__welcome {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.userSelect {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.userSelect__welcome {
  margin-bottom: 2em;
}

.userSelect__account__img {
  width: 7em;
  border-radius: 0.5em;
}

.userSelect__account__img:hover {
  border: 1.5px solid #fff;
  cursor: pointer;
}
