.navBar__logo {
  cursor: pointer;
  width: 6vw;
  margin-left: 2vw;
}

.navBar {
  background-color: #141414;
  z-index: 999;
  top: 0;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
}
