.poster__background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0px;
}

.poster__img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}

.poster__trailer {
  width: 100%;
  z-index: 0;
  height: 100%;
}

.mute__btn {
  position: absolute;
  border-radius: 50%;
  bottom: 35%;
  right: 5%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 50px;
  z-index: 99999;
}

.mute__btn:hover {
  background-color: #2a2a2a;
  color: white;
  border: 2px solid white;
}
